extends base

block content
  body.container-fluid
    h1.col-md-5.col-md-offset-4 Please choose a tool
    .row
      .col-md-4.col-md-offset-4
        .list-group
          a.list-group-item(href="/fogbat") FoGBAT Demo (MDM2016)
          a.list-group-item(href="/itspx1") Junction Times Demo (ITSPx1)
          a.list-group-item(href="/itspx2") Green Light Demo (ITSPx2)
